<h3>Add Student</h3>
<div *ngIf="message" class="alert alert-succes alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Student Added
    <button (click)="removeMessage()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>



<form [formGroup]="addStudent" (ngSubmit)="SaveData()">

    <div class="mb-3">
        <label class="form-label">FirstName </label>
        <input type="text" class="form-control" placeholder="Enter First Name" formControlName="firstname">
    </div>
    <div class=" mb-3 ">
        <label class="form-label ">LastName </label>
        <input type="text " class="form-control " placeholder="Enter Last Name" formControlName="lastname">
    </div>

    <div class="mb-3 ">
        <label class="form-label ">Email </label>
        <input type="email " class="form-control " placeholder="Enter Your Email" formControlName="email">
    </div>
    <div class="mb-3 ">
        <label class="form-label ">Phone </label>
        <input type="number" class="form-control " placeholder="Enter Your Phone" formControlName="phone">
    </div>
    <div class="mb-3 ">
        <label class="form-label ">Department</label>
        <input type="text" class="form-control " placeholder="Enter Your Department" formControlName="department">
    </div>




    <button type=" submit " class="btn btn-primary ">Submit</button>
</form>