<h3>Student List</h3>
<table class="table" datatable [dtOptions]="dtOptions">

    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Department</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of studentData">
            <th scope="row">{{item.id}}</th>
            <td>{{item.firstname}}</td>
            <td>{{item.lastname}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.department}}</td>
            <td>
                <i (click)="deleteStudent(item.id)" class="fa fa-trash" style="color: red;"></i> &nbsp;
                <a routerLink="/edit/{{item.id}}"><i class="fa fa-edit" style="color: darkgreen;"></i></a>
            </td>
        </tr>


    </tbody>
</table>